name: futbolcark
description: Futbol kariyer carki oyunu
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.2.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  provider: ^6.1.2
  shared_preferences: ^2.2.3
  flutter_fortune_wheel: ^1.3.1

flutter:
  uses-material-design: true

  assets:
    - assets/images/
